cat > .gitignore <<'EOF'
# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv
renv/staging/
renv/library/
renv.lock

# Outputs & local DBs
data_raw/
data_clean/
data_sqlite/
outputs/

# OS/editor
.DS_Store
Thumbs.db
EOF

git add .gitignore
git commit -m "Add .gitignore"
git push
